<a href="https://colab.research.google.com/github/kampelmuehler/MLKurs/blob/main/PythonAufgaben.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Verändern Sie die folgende Codezeile so, dass sie

```
Hlowrd
```
ausgibt.

In [ ]:
print("Hello world")

Schreiben Sie eine Funktion `remove_chars(string, n)` die einen String bis zum nten Element ausgibt.

Beispiel:


```
in: remove_chars("HTL Leoben", 3)
out: HTL
```

Schreiben Sie ein Skript, welches folgende Ausgabe erzeugt:


```
1
2:2
3:3:3
4:4:4:4
```

Schreiben Sie eine Funktion `my_sum(n)`, welche die Quersumme einer Ganzzahl ausgibt.

Beispiel:


```
in: my_sum(1234)
out: 10
```

Schreiben Sie eine Funktion `my_sum(n)`, welche die Summe bis zu einer bestimmten natürlichen Zahl ausgibt.

Beispiel:


```
in: my_sum(9)
out: 45
```

Bonus: Arithmetische Lösung.

Berechnen Sie `7!=1x2x3x4x5x6x7`.

Schreiben Sie eine Funktion `my_product(...)`, welche das Produkt ihrer beliebig vielen Argumente ausgibt.

Beispiel:


```
in: my_product(9)
out: 9
in: my_product(9, 4)
out: 36
```

```
# Als Code formatiert
```

Schreiben Sie eine Funktion `string_count(string)`, welche die Anzahl jedes Buchstaben in einem String als dictionary ausgibt.

Beispiel:
```
in: string_count("HTL Leoben")
out: {'H': 1, 'T': 1, 'L': 2, 'e': 2, 'o': 1, 'b': 1, 'n': 1}
```