<a href="https://colab.research.google.com/github/kampelmuehler/MLKurs/blob/main/PythonAufgaben.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Verändern Sie die folgende Codezeile so, dass sie

```
Hlowrd
```
ausgibt.

In [ ]:
print("Hello world")



---


Schreiben Sie eine Funktion `remove_chars(string, n)` die einen String bis zum 
nten Element zurückgibt.

Beispiel:


```
in: remove_chars("HTL Leoben", 3)
out: HTL
```



---


Schreiben Sie eine Funktion `pyramid(n)` welche einen String nach folgendem 
Muster (für `n=4`) zurückgibt:


```
1
2:2
3:3:3
4:4:4:4
```



---


Schreiben Sie eine Funktion `my_sum(n)`, welche die Quersumme einer Ganzzahl zurückgibt.

Beispiel:


```
in: my_sum(1234)
out: 10
```



---


Schreiben Sie eine Funktion `my_other_sum(n)`, welche die Summe aller Zahlen bis zu einer bestimmten natürlichen Zahl zurückgibt.

Beispiel:


```
in: my_other_sum(9)
out: 45
```

Bonus: Arithmetische Lösung.



---


Schreiben Sie eine Funktion `fact(n)` welche die Faktorielle von n zurückgibt: 

`n!=1x2x3x4x5x...xn-1xn`.



---


Schreiben Sie eine Funktion `my_product(...)`, welche das Produkt ihrer beliebig vielen Argumente zurückgibt.

Beispiel:


```
in: my_product(9)
out: 9
in: my_product(9, 4)
out: 36
```



---


Schreiben Sie eine Funktion `string_count(string)`, welche die Anzahl jedes Buchstaben in einem String als dictionary zurückgibt.

Beispiel:
```
in: string_count("HTL Leoben")
out: {'H': 1, 'T': 1, 'L': 2, 'e': 2, 'o': 1, 'b': 1, 'n': 1}
```



---


Schreiben Sie eine Klasse `Rectangle(length, width)` welche als Attribute die Länge und Breite des Rechtecks hält und eine Methode `area()` zum Berechnen des Flächeninhaltes und eine Methode `circ()` zum Berechnen des Umfangs bereitstellt. Außerdem soll `print(Rectangle(a, b))` (a, b als Beispiel für Länge und Breite) folgende Ausgabe liefern: `Rectangle axb`.

Schreiben Sie nun eine weitere Klasse `Square(length)` welche von `Rectangle` erbt und die Methoden von `Rectangle` übernimmt. `print(Square(a))` (a als Beispiel für Seitenlänge) soll nun folgende Ausgabe liefern: `Square a`.



---

Bonus: Schreiben Sie die nachfolgende Schleife in eine comprehension um. Können Sie den Code noch weiter vereinfachen?

In [ ]:
result = []
for i in range(10):
  if i % 2 == 0:
    result.append(i**2)
print(result)



---

Bonus: Schreiben Sie die nachfolgende Schleife in eine comprehension um.

In [ ]:
people = {'Hansi': 18, 'Franzl': 28, 'Berta': 37, 'Babette': 16}
result = {}
for (name, age) in people.items():
  if age > 20:
    result[name] = "old"
  else:
    result[name] = "young"
print(result)



---


Der unten folgende Codeblock überprüft die von Ihnen implementierten Funktionen. Wenn alles wie gedacht funktioniert, sollte der Codeblock fehlerfrei durchlaufen.

In [ ]:
assert remove_chars("HTL Leoben", 3) == "HTL"
assert pyramid(3) == "1\n2:2\n3:3:3\n"
assert my_sum(1234) == 10
assert my_other_sum(9) == 45
assert fact(13) == 6227020800
assert my_product(1, 2, 3, 4, 5) == 120
assert string_count("HTL Leoben") == {'H': 1, 'T': 1, 'L': 2, 'e': 2, 'o': 1, 'b': 1, 'n': 1}
assert Rectangle(2, 3).area() == 6
assert Rectangle(2, 2).circ() == 8
assert Rectangle(1, 2).__str__() == "Rectangle 1x2"
assert Square(2).area() == 4
assert Square(3).circ() == 12
assert Square(7).__str__() == "Square 7"
assert isinstance(Square(1), Rectangle)
print("Geschafft!")